// ---------------------------
// variable.scss
// ---------------------------

// ---------------------------
// size
// ---------------------------
$pc-width: 1200px;

// ---------------------------
// font weight
// ---------------------------
$thin:    100;
$light:   200;
$regular: 400;
$medium:  500;
$bold:    700;
$black:   900;

// ---------------------------
// color
// ---------------------------
$color-base: #333;
$theme-colors: (
  primary: #1C3043,
  sub: #bccee3,
  success: #0FDEBD,
  error: #dc221a,
  dark: #000,
  base: #333
);

//a {
//  background-color: map-get($theme-colors, 'primary');
//  color: map-get($theme-colors, 'dark');
//}

:export {
  @each $key, $color in $theme-colors {
    #{$key}: $color;
  }
}

// ---------------------------
// mixin
// ---------------------------

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin font-size($size: 16) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

